<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

  </head>
  <body>
    <%- include layout %>
    <div class="container">

      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <h2>Maturapoj</h2>
      
      <a href="/blog">อ่านบทความ</a>
    </div>
  </body>
</html>