<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>อ่านบทความ</h2>
        
        <a href="/blog">Black</a>
      </div>
</body>
</html>